<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="CSS/style.css" /> -->
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h1 align="center">Tracking Details</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Vehicle Owner ID</th>
                            <th>Vehicle Owner Name</th>
                            <th>Vehicle Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody1">


                    </tbody>
                </table>
                <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
                <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
                <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
                <script id="MainScript">
                    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                    const firebaseConfig = {
                        apiKey: "AIzaSyCo-FzB5qhRzfBCVPlBEcX_As1ercpCn78",
                        authDomain: "guided-traveler.firebaseapp.com",
                        databaseURL: "https://guided-traveler-default-rtdb.firebaseio.com",
                        projectId: "guided-traveler",
                        storageBucket: "guided-traveler.appspot.com",
                        messagingSenderId: "870682354873",
                        appId: "1:870682354873:web:782374defda1d0eb90a768",
                        measurementId: "G-KCD3E97PLC"
                    };

                    firebase.initializeApp(firebaseConfig);
                    let db = firebase.firestore();

                    function GetAllDataOnce() {
                        db.collection("trackingDetails").get().then((querySnapshot) => {
                            var users = [];
                            querySnapshot.forEach(doc => {
                                users.push(doc.data());
                            });
                            AddAllItemsToTheTable(users);

                        });
                    }

                    function GetAllDataRealtime() {
                        db.collection("trackingDetails").onSnapshot((querySnapshot) => {
                            var users = [];
                            querySnapshot.forEach(doc => {
                                users.push(doc.data());
                            });
                            AddAllItemsToTheTable(users);

                        });
                    }

                    var userID = 0;
                    var tbody = document.getElementById('tbody1');

                    function AddItemToTable(date, latitude, longitude) {
                        var trow = document.createElement('tr');
                        var td1 = document.createElement('td');
                        var td2 = document.createElement('td');
                        var td3 = document.createElement('td');


                        td1.innerHTML = date;
                        td2.innerHTML = latitude;
                        td3.innerHTML = longitude;


                        trow.appendChild(td1);
                        trow.appendChild(td2);
                        trow.appendChild(td3);


                        tbody.appendChild(trow);
                    }

                    function AddAllItemsToTheTable(UserDocsList) {
                        userID = 0;
                        tbody.innerHTML = "";
                        UserDocsList.forEach(element => {
                            AddItemToTable(element.date, element.latitude, element.longitude);
                        });
                    }

                    window.onload = GetAllDataRealtime;
                </script>
            </div>
        </div>
    </div>

</body>

</html>